.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination button {
    padding: 10px 20px;
    margin: 0 10px;
    border: 2px solid #ccc;
    background-color: #0a74da;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination button:hover:enabled {
    background-color: #005bb5;
}